body {
    margin: 0;
    font-family: 'Helvetica Neue', sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #270049; /* fioletowy tekst główny */
    /*background-image: url('/static/main/img/background.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;*/
  }

  /* === TOP NAVIGATION === */
  header.top-nav {
    border-bottom: 3px solid gold; /* złoto zamiast różu */
    height: 300px; /* dopasuj wysokość do logo */
  
  }

  .nav-top {
    position: relative;
    overflow: hidden;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    color: #6a4b7c;
    height: 297px;
  }  

  .nav-top1 {
    display: flex;
    flex-direction: row;
  }

  #hamburger2{
    width: 80%;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .nav-icons {
    display: flex;
    gap: 20px;
    font-size: 20px;
    color: #6a4b7c;
  }

  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 14px 16px;
    cursor: pointer;
  }

  .hamburger .cross1 {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger .cross2{
    opacity: 0;
}

.hamburger .cross3 {
    transform: rotate(-45deg) translate(20px, -20px);
}

#nav-bottom .left{
color: #270049;
font-size:x-large;
margin-left: 1.5rem;
display: inline;
width: fit-content;
transition:all 0.3s ease-in-out ;
}

#nav-bottom .left:hover{
  color: gold;
  border-bottom: 3px solid gold;
  margin-left: 1.5rem;
  }
  #nav-bottom .first {
    color:gold;
  }

  #nav-bottom .first:hover {
    color:#270049;
    border-bottom: 3px solid #270049;

  }
  .line {
    width: 50px;
    height: 10px;
    background-color: white;
    border: 2px solid gold !important;
    border-radius: 10px;
    background-color: #270049;
    margin: 4px 0;
    animation: colorShift 6s infinite;
    transition: none;
    
}

  .logo {
    height: 250px !important;

  }

  .logo img {
    height: 250px !important;

  }

  .card1, .card2, .card3, .card4 {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  .card1 {
    background-image: url('../img/eye1.png');
  }

  .card2 {
    background-image: url('../img/training1.jpg');
  }

  .card3 {
    background-image: url('../img/pernament1.jpg');
  }
  .card4 {
    background-image: url('../img/astetic1.jpg');
  }


  .book-btn {
    border: 2px solid gold !important; 
    background-color: #270049;
    color: white;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
    animation: colorShift 6s infinite;
    transition: none;
  }

  .book-btn:hover {
    animation-play-state: paused;
    background-color: #cfa15a; /* złoto */
    border-color: #cfa15a;
    box-shadow: 0 0 15px 4px #cfa15aaa;
    transform: scale(1.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
    cursor: pointer;
  }

  .nav-bottom {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    border-top: 1.6px solid #ffd700; /* złoto */
    padding: 12px 10px;
    gap: 20px;
    background-color: #fff8f36b;
    height: calc(100vh);
    width: 25%;
    position: fixed;
    top:0;
    left:0;
    z-index: 1000;
    padding-bottom: 10%;
    transform: translateX(-100%);
    transition:transform 0.4s ease-out;
  }
  .nav-bottom.open {
    transform: translateX(0);
  }

  .nav-bottom a {
    text-decoration: none;
    color: #270049; /* fiolet */
    font-weight: 600;
    font-size: 0.95rem;
    transition: color 0.3s ease;
  }

  .nav-bottom a:hover {
    color: gold; /* róż */
    text-shadow: 0 0 6px white;
  }

  /* === MAIN SECTION === */
  .main-section {
    display: flex;
    max-width: 1200px;
    margin: 20px auto 0 auto; 
    padding: 0 20px 20px 20px; 
    gap: 40px;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .left-photo {
    flex: 0 0 35%;
    max-width: 35%;
    min-width: 250px;
    height: 670px;
    text-align: center;
    border-radius: 14px;
    box-shadow: 0 8px 20px rgba(106, 75, 124, 0.1);
  }

  .left-photo img {
    height: 666px;
    border-radius: 14px;
  }

  .services-wrapper {
    flex: 0 0 60%;
    max-width: 60%;
    min-width: 250px;
    margin-top: 0;
    padding-top: 0; 
  }

  .services-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    gap: 30px;
  }

  .service-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border: 2px solid gold;
    border-radius: 16px;
    min-height: 320px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(233, 140, 163, 0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
  }

  .service-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(233, 140, 163, 0.3);
    border-color: #270049;
  }

  .service-card h3 {
    display:block;
    width: 100%;
    padding:0.3rem 0rem;
    font-size: 1.3rem;
    margin-bottom: 10px;
    color: white;
    background-color: #270049;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
  }

  .service-card p {
    font-size: 1.3rem;
    font-weight: 500;
    color: white;
    margin-bottom: 15px;
    opacity: 0;
    transition: all 0.6s ease;
    text-shadow: 3px 3px #270049;
    padding: 0 1rem;
    letter-spacing: 1px;
    }

  .service-card p:hover {
    opacity: 1;
  }

  .service-card a {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 12px;
    padding: 10px 18px;
    background-color: #270049;
    color: white;
    border-radius: 25px;
    text-decoration: none;
    font-weight: 500;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 0 8px #cfa15a88;
    border: 1px solid gold;
  }

  .service-card a:hover {
    background-color: #cfa15a;
    box-shadow: 0 0 12px #cfa15aaa;
  }

  .image-wrapper {
    position: relative;
    overflow: hidden;
  }
  
  .image_panel {
    display: block;
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
  }
  
  
  .overlay-text-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: translateY(100%); 
    transition: transform 0.4s ease;
    background-color: #270049; 
    padding: 10px 20px;
    display: none;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
  }
  
  
  .overlay-text {
    margin: 0;
    color: white;
    font-size: 1.25rem;
    font-weight:lighter;
    text-align: center;
  }
  
  
  .image-wrapper:hover .overlay-text-wrapper {
    transform: translateY(0);
    display: block;
  }

.box {
    min-height: 320px;
    text-align: center;
}

.box:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(233, 140, 163, 0.3);
    border-color: #270049 !important;
  }

  #background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100% !important;
    object-fit: cover;
    z-index: -1;
    pointer-events: none;
  }

  /* Footer icon sizing */
.footer-icon{
  height: 5vh;
}

/* Prevent text wrapping */
#footer-text {
  white-space: nowrap; 
}

/* Fixed footer positioning */
#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 7.5vh; 
  overflow: hidden;
  z-index: 1000;
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  height: 50px; 
  border-top: 1.5px solid #ffc107;
}

header.top-nav {
  height: 350px;
  position: relative;
  overflow: hidden;
}

#background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100% !important;
  object-fit: cover;
  z-index: -1;
  pointer-events: none;
}

  @media (max-width: 900px) {
    .main-section {
      flex-direction: column;
      align-items: center;
    }

    .left-photo,
    .services-wrapper {
      flex: 0 0 100%;
      max-width: 100%;
    }

    .services-grid {
      grid-template-columns: 1fr;
    }

    @media (max-width: 900px) {
      .nav-top {
        flex-direction: row;
        gap: 10px;
        text-align: center;
      }
  
      .logo {
        font-size: 1.5rem;
      }
  
      .nav-bottom {
        flex-direction: column;
        align-items: center;
        gap: 10px;
      }
    }
  }

   /* Animacja kolorów dla przycisku */
   @keyframes colorShift {
    0% {
      background-color: #e98ca3; /* róż */
      border-color: #e98ca3;
      box-shadow: 0 0 8px #cfa15a88; /* złoty cień */
    }
    33% {
      background-color: #6a4b7c; /* fiolet */
      border-color: #6a4b7c;
      box-shadow: 0 0 8px #cfa15a88;
    }
    66% {
      background-color: #cfa15a; /* złoto */
      border-color: #cfa15a;
      box-shadow: 0 0 12px #cfa15aaa;
    }
    100% {
      background-color: #e98ca3; /* róż */
      border-color: #e98ca3;
      box-shadow: 0 0 8px #cfa15a88;
    }
  }

  .logo-rotate-z {
    animation: rotateZ 25s linear infinite;
    transform-origin: center center;
    display: block;
    margin: 0 auto;
    height: 250px;
    width: 250px;
  }
  
  @keyframes rotateZ {
    from {
      transform: rotateZ(0deg);
    }
    to {
      transform: rotateZ(360deg);
    }
  }
  